{%extends 'main/base.html'%}
{%load static%}

{% block title %}
{{ title }}
{% endblock %}


{% block content  %}
Информация про студента
  <div>
        <p>
            <br>Фамилия : {{ student.last_name }} </br>
            <br>Имя : {{ student.first_name }}</br>
            <br> email : {{ student.email }} </br>
            <img class="cover" src="{{student.cover.url}}" >


        </p>
            {% if user.is_superuser %}
              <a href="{% url 'edit_student' pk=student.student_id %}">
                    <button type="submit" class="btn btn-outline-primary">Редактировать</button>
                </a>
              <a href="{% url 'delete_students' pk=student.student_id %}">
                    <button type="submit" class="btn btn-outline-primary">Удалить</button>
                </a>
              <a href="{% url 'student' %}">
                    <button type="submit" class="btn btn-outline-primary">Вернуться к студентам</button>
                </a>
      {% endif %}
  </div>
{% endblock %}