{%extends 'main/base.html'%}
{%load static%}

{% block title %}
{{ title }}
{% endblock %}



{% block content  %}
Информация про предователя
  <div>
        <p>
            <br> Фамилия: {{ lector.last_name }} </br>
            <br>Имя : {{ lector.first_name }}.</br>
            <br> email : {{ lector.email }} </br>
            <img class="cover" src="{{lector.cover.url}}">


            {% if user.is_superuser %}
               <a href="{% url 'edit_lector' pk=lector.lecturer_id %}">
                    <button type="submit" class="btn btn-outline-primary">Редактировать</button>
               </a>
               <a href="{% url 'delete_lector' pk=lector.lecturer_id %}">
                    <button type="submit" class="btn btn-outline-primary">Удалить</button>
               </a>
               <a href="{% url 'lector' %}">
                    <button type="submit" class="btn btn-outline-primary">Вернуться к преподователям</button>
               </a>
            {% endif %}
        </p>
    </div>
{% endblock %}